# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.DS_Store
*.exe
*.bmp
/images
*.gz
**/encryption
**/verdiLog  
**/dff 
**/csrc 
*.daidir 
*log 
*.vpd 
*.vdb 
simv* 
*.key 
*race.out* 
*.rc 
*.fsdb
*.fsdb*
*vcs_checkpoint_shared_memory*
*.vpd 
*.log 
*.conf 
*.dat 
*.conf
*.json